---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=F4imcFajwgOoSfb5H1JvPxU44lY0JCtJ&location=denver,%20co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 10 Nov 2020 22:24:34 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2020 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2020 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,
        co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=F4imcFajwgOoSfb5H1JvPxU44lY0JCtJ&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-65683107"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=F4imcFajwgOoSfb5H1JvPxU44lY0JCtJ&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=-509970231"}]}]}'
  recorded_at: Tue, 10 Nov 2020 22:24:34 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=4cd7d24cd5a2b1296d9032e5cfa6c18b&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.74,"lon":-104.98,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1605047015,"sunrise":1605015570,"sunset":1605052105,"temp":45.55,"feels_like":32.02,"pressure":1007,"humidity":24,"dew_point":13.17,"uvi":2.41,"clouds":20,"visibility":10000,"wind_speed":13.87,"wind_deg":350,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}]},"minutely":[{"dt":1605047040,"precipitation":0},{"dt":1605047100,"precipitation":0},{"dt":1605047160,"precipitation":0},{"dt":1605047220,"precipitation":0},{"dt":1605047280,"precipitation":0},{"dt":1605047340,"precipitation":0},{"dt":1605047400,"precipitation":0},{"dt":1605047460,"precipitation":0},{"dt":1605047520,"precipitation":0},{"dt":1605047580,"precipitation":0},{"dt":1605047640,"precipitation":0},{"dt":1605047700,"precipitation":0},{"dt":1605047760,"precipitation":0},{"dt":1605047820,"precipitation":0},{"dt":1605047880,"precipitati[...]
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/images/search?color=colorOnly&count=1&imageType=photo&q=morning%20few%20clouds%20denver,%20co
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - 57e0df1476fb4807a3fc4d929f24dde3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 93B54A19D85D4FBFA06F96C81E4204B9
      X-Msedge-Clientid:
      - 2980005320866F962CFC0F2D212D6EF4
      X-Msapi-Userstate:
      - f298
      X-Search-Responseinfo:
      - InternalResponseTime=159,MSDatacenter=DUB02
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"_type": "ResponseInstrumentation"},
        "readLink": "images\/search?q=morning few clouds denver, co", "webSearchUrl":
        "https:\/\/www.bing.com\/images\/search?q=morning few clouds denver, co&FORM=OIIARP",
        "queryContext": {"originalQuery": "morning few clouds denver, co", "alterationDisplayQuery":
        "morning few clouds denver, co", "alterationOverrideQuery": "+morning few
        clouds denver, co", "alterationMethod": "AM_JustChangeIt", "alterationType":
        "CombinedAlterationsChained"}, "totalEstimatedMatches": 100, "nextOffset":
        1, "currentOffset": 0, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=morning+few+clouds+denver%2c+co&id=1A550347CE0335B05B187A0ED06A3737D1AA2EB3&simid=607993333158380895",
        "name": "Denver Colorado In The Early Morning With Clouds In The ...", "thumbnailUrl":
        "https:\/\/tse1.mm.bing.net\/th?id=OIP.9aGPRdArfBB0N777aZcf2wHaDo&pid=Api",
        "datePublished": "2019-12-18T00:06:00.0000000Z", "isFamilyFriendly": true,
        "contentUrl": "https:\/\/media.istockphoto.com\/photos\/denver-colorado-in-the-early-morning-with-clouds-in-the-sky-picture-id930889410?k=6&m=930889410&s=170667a&w=0&h=Y2tZj6w9Nf5ZhABl0A8u2pBwnjgQEKEzuVcyRKxraSE=",
        "hostPageUrl": "https:\/\/www.istockphoto.com\/photo\/denver-colorado-in-the-early-morning-with-clouds-in-the-sky-gm930889410-255183871",
        "contentSize": "148395 B", "encodingFormat": "jpeg", "hostPageDisplayUrl":
        "https:\/\/www.istockphoto.com\/photo\/denver-colorado-in-the-early-morning-with-clouds-in...",
        "width": 594, "height": 291, "hostPageFavIconUrl": "https:\/\/www.bing.com\/th?id=ODF.hQ_7876msK32aIBs9d0umw&pid=Api",
        "hostPageDomainFriendlyName": "iStock", "thumbnail": {"width": 474, "height":
        232}, "imageInsightsToken": "ccid_9aGPRdAr*cp_776B0835827AD5FC9D1DCB2EFD75FFDE*mid_1A550347CE0335B05B187A0ED06A3737D1AA2EB3*simid_607993333158380895*thid_OIP.9aGPRdArfBB0N777aZcf2wHaDo",
        "insightsMetadata": {"pagesIncludingCount": 9, "availableSizesCount": 6},
        "imageId": "1A550347CE0335B05B187A0ED06A3737D1AA2EB3", "accentColor": "AD6D1E"}],
        "pivotSuggestions": [{"pivot": "morning", "suggestions": []}, {"pivot": "few",
        "suggestions": []}, {"pivot": "clouds", "suggestions": []}, {"pivot": "denver,",
        "suggestions": []}, {"pivot": "co", "suggestions": []}], "similarTerms": [{"text":
        "still in bed", "displayText": "still in bed", "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=still+in+bed&FORM=IDINTS",
        "thumbnail": {"url": "https:\/\/tse1.mm.bing.net\/th?q=still+in+bed&pid=Api&mkt=en-GB&adlt=moderate"}},
        {"text": "coffee", "displayText": "coffee", "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=coffee&FORM=IDINTS",
        "thumbnail": {"url": "https:\/\/tse3.mm.bing.net\/th?q=coffee&pid=Api&mkt=en-GB&adlt=moderate"}},
        {"text": "tired", "displayText": "tired", "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=tired&FORM=IDINTS",
        "thumbnail": {"url": "https:\/\/tse1.mm.bing.net\/th?q=tired&pid=Api&mkt=en-GB&adlt=moderate"}}],
        "relatedSearches": [{"text": "Brown Clouds", "displayText": "Brown Clouds",
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=Brown+Clouds&FORM=IRPATC",
        "searchLink": "https:\/\/api.bing.microsoft.com\/api\/v7\/images\/search?q=Brown+Clouds",
        "thumbnail": {"thumbnailUrl": "https:\/\/tse1.mm.bing.net\/th?q=Brown+Clouds&pid=Api&mkt=en-GB&adlt=moderate&t=1"}},
        {"text": "Denver Smog", "displayText": "Denver Smog", "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=Denver+Smog&FORM=IRPATC",
        "searchLink": "https:\/\/api.bing.microsoft.com\/api\/v7\/images\/search?q=Denver+Smog",
        "thumbnail": {"thumbnailUrl": "https:\/\/tse1.m[...]
