---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=4cd7d24cd5a2b1296d9032e5cfa6c18b&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.74,"lon":-104.98,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1604934603,"sunrise":1604929101,"sunset":1604965761,"temp":33.6,"feels_like":26.33,"pressure":1006,"humidity":75,"dew_point":27.18,"uvi":2.5,"clouds":55,"visibility":10000,"wind_speed":5.28,"wind_deg":28,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"minutely":[{"dt":1604934660,"precipitation":0},{"dt":1604934720,"precipitation":0},{"dt":1604934780,"precipitation":0},{"dt":1604934840,"precipitation":0},{"dt":1604934900,"precipitation":0},{"dt":1604934960,"precipitation":0},{"dt":1604935020,"precipitation":0},{"dt":1604935080,"precipitation":0},{"dt":1604935140,"precipitation":0},{"dt":1604935200,"precipitation":0},{"dt":1604935260,"precipitation":0},{"dt":1604935320,"precipitation":0},{"dt":1604935380,"precipitation":0},{"dt":1604935440,"precipitation":0},{"dt":1604935500,"precipitati[...]
