---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=F4imcFajwgOoSfb5H1JvPxU44lY0JCtJ&location=%23%3CMap:0x00007fa400f9e100%3E
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 10 Nov 2020 02:54:07 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2020 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2020 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"#<Map:0x00007fa400f9e100>"},"locations":[{"street":"Calle
        0 10-100","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"C\u00FAcuta","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"Norte
        de Santander","adminArea3Type":"State","adminArea1":"CO","adminArea1Type":"Country","postalCode":"540010","geocodeQualityCode":"P1CCA","geocodeQuality":"POINT","dragPoint":false,"sideOfStreet":"N","linkId":"CO/PAD/p0/443115","unknownInput":"","type":"s","latLng":{"lat":7.8964,"lng":-72.51198},"displayLatLng":{"lat":7.8964,"lng":-72.51198},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=F4imcFajwgOoSfb5H1JvPxU44lY0JCtJ&type=map&size=225,160&locations=7.8964,-72.51198|marker-sm-50318A-1&scalebar=true&zoom=15&rand=361871549"},{"street":"Calle
        0 8-100","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"C\u00FAcuta","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"Norte
        de Santander","adminArea3Type":"State","adminArea1":"CO","adminArea1Type":"Country","postalCode":"540004","g[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=4cd7d24cd5a2b1296d9032e5cfa6c18b&lat=7.8964&lon=-72.51198&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":7.9,"lon":-72.51,"timezone":"America/Bogota","timezone_offset":-18000,"current":{"dt":1604976848,"sunrise":1604918412,"sunset":1604960863,"temp":74.32,"feels_like":80.08,"pressure":1014,"humidity":83,"dew_point":68.83,"uvi":11.83,"clouds":81,"visibility":10000,"wind_speed":2.28,"wind_deg":186,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"rain":{"1h":0.13}},"hourly":[{"dt":1604973600,"temp":74.32,"feels_like":80.08,"pressure":1014,"humidity":83,"dew_point":68.83,"clouds":81,"visibility":10000,"wind_speed":2.28,"wind_deg":186,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"pop":0.75,"rain":{"1h":0.13}},{"dt":1604977200,"temp":74.16,"feels_like":79.84,"pressure":1014,"humidity":82,"dew_point":68.31,"clouds":81,"visibility":10000,"wind_speed":1.97,"wind_deg":181,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0.76},{"dt":1604980800,"temp":73.76,"feels_like":79.52,"pressure":1014,"humidity":82,"dew_point":67.93,"clouds":77,"visibility":10000,"wind_speed":1.5,"wind_deg":175,"weather":[{"id":803,"main":"Clouds","description":"[...]
