---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=F4imcFajwgOoSfb5H1JvPxU44lY0JCtJ&location=%23%3CMap:0x00007f9283f77458%3E
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 10 Nov 2020 14:19:09 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2020 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2020 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"#<Map:0x00007f9283f77458>"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A1XAX","geocodeQuality":"COUNTRY","dragPoint":false,"sideOfStreet":"N","linkId":"282934758","unknownInput":"","type":"s","latLng":{"lat":39.390897,"lng":-99.066067},"displayLatLng":{"lat":39.390897,"lng":-99.066067},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=F4imcFajwgOoSfb5H1JvPxU44lY0JCtJ&type=map&size=225,160&locations=39.390897,-99.066067|marker-sm-50318A-1&scalebar=true&zoom=2&rand=-564625004"}]}]}'
  recorded_at: Tue, 10 Nov 2020 14:19:09 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=4cd7d24cd5a2b1296d9032e5cfa6c18b&lat=39.390897&lon=-99.066067&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.39,"lon":-99.07,"timezone":"America/Chicago","timezone_offset":-21600,"current":{"dt":1605017950,"sunrise":1605014107,"sunset":1605050732,"temp":28.33,"feels_like":19.44,"pressure":1010,"humidity":90,"dew_point":26.08,"uvi":2.12,"clouds":66,"visibility":10000,"wind_speed":8.01,"wind_deg":11,"wind_gust":15.99,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"minutely":[{"dt":1605018000,"precipitation":0},{"dt":1605018060,"precipitation":0},{"dt":1605018120,"precipitation":0},{"dt":1605018180,"precipitation":0},{"dt":1605018240,"precipitation":0},{"dt":1605018300,"precipitation":0},{"dt":1605018360,"precipitation":0},{"dt":1605018420,"precipitation":0},{"dt":1605018480,"precipitation":0},{"dt":1605018540,"precipitation":0},{"dt":1605018600,"precipitation":0},{"dt":1605018660,"precipitation":0},{"dt":1605018720,"precipitation":0},{"dt":1605018780,"precipitation":0},{"dt":1605018840,"precipitati[...]
