---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=F4imcFajwgOoSfb5H1JvPxU44lY0JCtJ&location=%23%3CMap:0x00007fca47aae718%3E
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 10 Nov 2020 00:16:58 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2020 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2020 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"#<Map:0x00007fca47aae718>"},"locations":[{"street":"Rodovia
        BR-060-Pista Lateral 718","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Rio
        Verde","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"Goi\u00E1s","adminArea3Type":"State","adminArea1":"BR","adminArea1Type":"Country","postalCode":"75906","geocodeQualityCode":"P1CCA","geocodeQuality":"POINT","dragPoint":false,"sideOfStreet":"N","linkId":"BR/PAD/p0/10465907","unknownInput":"","type":"s","latLng":{"lat":-17.80191,"lng":-50.91916},"displayLatLng":{"lat":-17.80191,"lng":-50.91916},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=F4imcFajwgOoSfb5H1JvPxU44lY0JCtJ&type=map&size=225,160&locations=-17.80191,-50.91916|marker-sm-50318A-1&scalebar=true&zoom=15&rand=-967149157"},{"street":"718
        Map Drive","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Pikeville","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"KY","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"41501","geocodeQualityCode":"L1CCA","geocodeQuality":"ADDRESS","dragPoint":false,"sideOfStreet":"N","linkId":"US/ADDR/p1/10955256","unknownInput":"","type":"s","latLng":{"lat":37.46587,"lng":-82.50363},"displayLatLng":{"lat":37.46587,"lng":-82.50363},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=F4imcFajwgOoSfb5H1JvPxU44lY0JCtJ&type=map&size=225,160&locations=37.46587,-82.50363|marker-sm-50318A-2&scalebar=true&zoom=15&rand=-1379700042"}]}]}'
  recorded_at: Tue, 10 Nov 2020 00:16:58 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=4cd7d24cd5a2b1296d9032e5cfa6c18b&lat=-17.80191&lon=-50.91916&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":-17.8,"lon":-50.92,"timezone":"America/Sao_Paulo","timezone_offset":-10800,"current":{"dt":1604967420,"sunrise":1604911281,"sunset":1604957630,"temp":70.65,"feels_like":70.29,"pressure":1012,"humidity":83,"dew_point":65.23,"uvi":14.38,"clouds":100,"visibility":10000,"wind_speed":10.2,"wind_deg":195,"weather":[{"id":501,"main":"Rain","description":"moderate
        rain","icon":"10n"}],"rain":{"1h":1.538}},"minutely":[{"dt":1604967420,"precipitation":1.538},{"dt":1604967480,"precipitation":1.538},{"dt":1604967540,"precipitation":1.538},{"dt":1604967600,"precipitation":1.538},{"dt":1604967660,"precipitation":1.36},{"dt":1604967720,"precipitation":1.182},{"dt":1604967780,"precipitation":1.004},{"dt":1604967840,"precipitation":0.8260000000000001},{"dt":1604967900,"precipitation":0.648},{"dt":1604967960,"precipitation":0.648},{"dt":1604968020,"precipitation":0.648},{"dt":1604968080,"precipitation":0.648},{"dt":1604968140,"precipitation":0.648},{[...]
