---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=F4imcFajwgOoSfb5H1JvPxU44lY0JCtJ&location=%23%3CMap:0x00007fe2410d3f60%3E
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 10 Nov 2020 00:28:45 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2020 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2020 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"#<Map:0x00007fe2410d3f60>"},"locations":[{"street":"07059.
        Sokak 60","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Gaziantep","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"","adminArea3Type":"State","adminArea1":"TR","adminArea1Type":"Country","postalCode":"27500","geocodeQualityCode":"P1CCA","geocodeQuality":"POINT","dragPoint":false,"sideOfStreet":"N","linkId":"TR/PAD/p0/624044","unknownInput":"","type":"s","latLng":{"lat":37.08457,"lng":37.36947},"displayLatLng":{"lat":37.08457,"lng":37.36947},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=F4imcFajwgOoSfb5H1JvPxU44lY0JCtJ&type=map&size=225,160&locations=37.08457,37.36947|marker-sm-50318A-1&scalebar=true&zoom=15&rand=-311903190"},{"street":"06032.
        Cadde 60","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Gaziantep","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"","adminArea3Type":"State","adminArea1":"TR","adminArea1Type":"Country","postalCode":"27580","geocodeQualityCode":"P1CCA[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=4cd7d24cd5a2b1296d9032e5cfa6c18b&lat=37.08457&lon=37.36947&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":37.08,"lon":37.37,"timezone":"Europe/Istanbul","timezone_offset":10800,"current":{"dt":1604968126,"sunrise":1604981058,"sunset":1605018285,"temp":53.53,"feels_like":51.31,"pressure":1019,"humidity":93,"dew_point":51.55,"uvi":3,"clouds":15,"visibility":6000,"wind_speed":4.85,"wind_deg":10,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02n"}]},"minutely":[{"dt":1604968140,"precipitation":0},{"dt":1604968200,"precipitation":0},{"dt":1604968260,"precipitation":0},{"dt":1604968320,"precipitation":0},{"dt":1604968380,"precipitation":0},{"dt":1604968440,"precipitation":0},{"dt":1604968500,"precipitation":0},{"dt":1604968560,"precipitation":0},{"dt":1604968620,"precipitation":0},{"dt":1604968680,"precipitation":0},{"dt":1604968740,"precipitation":0},{"dt":1604968800,"precipitation":0},{"dt":1604968860,"precipitation":0},{"dt":1604968920,"precipitation":0},{"dt":1604968980,"precipitati[...]
