---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=F4imcFajwgOoSfb5H1JvPxU44lY0JCtJ&location=%23%3CMap:0x00007f8ea1f49e30%3E
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 10 Nov 2020 18:09:17 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2020 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2020 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"#<Map:0x00007f8ea1f49e30>"},"locations":[{"street":"07059.
        Sokak 30","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Gaziantep","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"","adminArea3Type":"State","adminArea1":"TR","adminArea1Type":"Country","postalCode":"27500","geocodeQualityCode":"P1CCA","geocodeQuality":"POINT","dragPoint":false,"sideOfStreet":"N","linkId":"TR/PAD/p0/3598295","unknownInput":"","type":"s","latLng":{"lat":37.08345,"lng":37.37099},"displayLatLng":{"lat":37.08345,"lng":37.37099},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=F4imcFajwgOoSfb5H1JvPxU44lY0JCtJ&type=map&size=225,160&locations=37.08345,37.37099|marker-sm-50318A-1&scalebar=true&zoom=15&rand=-1961488277"},{"street":"30
        Tennessee Avenue","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Chloride","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"AZ","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"86431","geocodeQualityCode":"L1CCA","geocodeQuality":"ADDRESS","dragPoint":false,"sideOfStreet":"N","linkId":"US/ADDR/p1/5897148","unknownInput":"","type":"s","latLng":{"lat":35.41444,"lng":-114.19721},"displayLatLng":{"lat":35.41444,"lng":-114.19721},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=F4imcFajwgOoSfb5H1JvPxU44lY0JCtJ&type=map&size=225,160&locations=35.41444,-114.19721|marker-sm-50318A-2&scalebar=true&zoom=15&rand=-196357259"}]}]}'
  recorded_at: Tue, 10 Nov 2020 18:09:17 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=4cd7d24cd5a2b1296d9032e5cfa6c18b&lat=37.08345&lon=37.37099&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":37.08,"lon":37.37,"timezone":"Europe/Istanbul","timezone_offset":10800,"current":{"dt":1605031757,"sunrise":1604981058,"sunset":1605018285,"temp":51.8,"feels_like":51.4,"pressure":1019,"humidity":93,"dew_point":49.84,"uvi":3.02,"clouds":0,"visibility":6000,"wind_speed":0.78,"wind_deg":37,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"minutely":[{"dt":1605031800,"precipitation":0},{"dt":1605031860,"precipitation":0},{"dt":1605031920,"precipitation":0},{"dt":1605031980,"precipitation":0},{"dt":1605032040,"precipitation":0},{"dt":1605032100,"precipitation":0},{"dt":1605032160,"precipitation":0},{"dt":1605032220,"precipitation":0},{"dt":1605032280,"precipitation":0},{"dt":1605032340,"precipitation":0},{"dt":1605032400,"precipitation":0},{"dt":1605032460,"precipitation":0},{"dt":1605032520,"precipitation":0},{"dt":1605032580,"precipitation":0},{"dt":1605032640,"precipitati[...]
