---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=4cd7d24cd5a2b1296d9032e5cfa6c18b&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.74,"lon":-104.98,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1604946939,"sunrise":1604929101,"sunset":1604965761,"temp":35.31,"feels_like":26.31,"pressure":1011,"humidity":66,"dew_point":25.9,"uvi":2.5,"clouds":90,"visibility":8047,"wind_speed":8.05,"wind_deg":50,"weather":[{"id":701,"main":"Mist","description":"mist","icon":"50d"}]},"minutely":[{"dt":1604946960,"precipitation":0},{"dt":1604947020,"precipitation":0},{"dt":1604947080,"precipitation":0},{"dt":1604947140,"precipitation":0},{"dt":1604947200,"precipitation":0},{"dt":1604947260,"precipitation":0},{"dt":1604947320,"precipitation":0},{"dt":1604947380,"precipitation":0},{"dt":1604947440,"precipitation":0},{"dt":1604947500,"precipitation":0},{"dt":1604947560,"precipitation":0},{"dt":1604947620,"precipitation":0},{"dt":1604947680,"precipitation":0},{"dt":1604947740,"precipitation":0},{"dt":1604947800,"precipitati[...]
