---
http_interactions:
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/images/search?color=colorOnly&count=1&imageType=photo&q=denver,%20co
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - 57e0df1476fb4807a3fc4d929f24dde3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 919EB86D128F4F8C8373B60675776361
      X-Msedge-Clientid:
      - 1AB43CAC91BA601326BC33D290A36173
      X-Msapi-Userstate:
      - 12e0
      X-Search-Responseinfo:
      - InternalResponseTime=280,MSDatacenter=DUB02
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"_type": "ResponseInstrumentation"},
        "readLink": "images\/search?q=denver, co", "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=denver,
        co&FORM=OIIARP", "queryContext": {"originalQuery": "denver, co", "alterationDisplayQuery":
        "denver, co", "alterationOverrideQuery": "+denver, co", "alterationMethod":
        "AM_JustChangeIt", "alterationType": "CombinedAlterationsChained"}, "totalEstimatedMatches":
        100, "nextOffset": 1, "currentOffset": 0, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=denver%2c+co&id=B45EAB6FD39660E9815013EEE0578B3D57D0A123&simid=608007394805220976",
        "name": "Denver - Bright Pink", "thumbnailUrl": "https:\/\/tse4.mm.bing.net\/th?id=OIP.japcKkUCixhyR97R8B71swHaE5&pid=Api",
        "datePublished": "2019-06-27T00:33:00.0000000Z", "isFamilyFriendly": true,
        "contentUrl": "https:\/\/www.brightpink.org\/wp-content\/uploads\/2015\/03\/4280266430_f5a5279dfe_z.jpg",
        "hostPageUrl": "https:\/\/www.brightpink.org\/communities\/denver\/", "contentSize":
        "999497 B", "encodingFormat": "jpeg", "hostPageDisplayUrl": "https:\/\/www.brightpink.org\/communities\/denver",
        "width": 4272, "height": 2828, "hostPageFavIconUrl": "https:\/\/www.bing.com\/th?id=ODF.rUuDCRLYgUfvz2DV2V-2GQ&pid=Api",
        "hostPageDomainFriendlyName": "Bright Pink", "thumbnail": {"width": 474, "height":
        313}, "imageInsightsToken": "ccid_japcKkUC*cp_1338B5BB017A8155A7CD3BB2896129F2*mid_B45EAB6FD39660E9815013EEE0578B3D57D0A123*simid_608007394805220976*thid_OIP.japcKkUCixhyR97R8B71swHaE5",
        "insightsMetadata": {"pagesIncludingCount": 108, "availableSizesCount": 62},
        "imageId": "B45EAB6FD39660E9815013EEE0578B3D57D0A123", "accentColor": "0177CA"}],
        "queryExpansions": [{"text": "City Park Denver Co", "displayText": "City Park",
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=City+Park+Denver+Co&tq=%7b%22pq%22%3a%22denver%2c+co%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22denver%2c+co%22%2c%22pv%22%3a%22denver%2c+co%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22City+Park%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d&FORM=IRPATC",
        "searchLink": "https:\/\/api.bing.microsoft.com\/api\/v7\/images\/search?q=City+Park+Denver+Co&tq=%7b%22pq%22%3a%22denver%2c+co%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22denver%2c+co%22%2c%22pv%22%3a%22denver%2c+co%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22City+Park%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d",
        "thumbnail": {"thumbnailUrl": "https:\/\/tse2.mm.bing.net\/th?q=City+Park+Denver+Co&pid=Api&mkt=en-GB&adlt=moderate&t=1"}},
        {"text": "Denver [...]
