---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=F4imcFajwgOoSfb5H1JvPxU44lY0JCtJ&location=denver,%20co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 11 Nov 2020 02:18:56 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2020 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2020 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,
        co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=F4imcFajwgOoSfb5H1JvPxU44lY0JCtJ&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=438272140"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=F4imcFajwgOoSfb5H1JvPxU44lY0JCtJ&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=-2003557354"}]}]}'
  recorded_at: Wed, 11 Nov 2020 02:18:56 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=4cd7d24cd5a2b1296d9032e5cfa6c18b&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.74,"lon":-104.98,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1605061136,"sunrise":1605015570,"sunset":1605052105,"temp":35.89,"feels_like":28.2,"pressure":1011,"humidity":51,"dew_point":20.95,"uvi":2.47,"clouds":75,"visibility":10000,"wind_speed":4.7,"wind_deg":80,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}]},"minutely":[{"dt":1605061140,"precipitation":0},{"dt":1605061200,"precipitation":0},{"dt":1605061260,"precipitation":0},{"dt":1605061320,"precipitation":0},{"dt":1605061380,"precipitation":0},{"dt":1605061440,"precipitation":0},{"dt":1605061500,"precipitation":0},{"dt":1605061560,"precipitation":0},{"dt":1605061620,"precipitation":0},{"dt":1605061680,"precipitation":0},{"dt":1605061740,"precipitation":0},{"dt":1605061800,"precipitation":0},{"dt":1605061860,"precipitation":0},{"dt":1605061920,"precipitation":0},{"dt":1605061980,"precipitati[...]
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/images/search?color=colorOnly&count=1&imageType=photo&q=evening%20broken%20clouds%20denver,%20co
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - 57e0df1476fb4807a3fc4d929f24dde3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - BDD3A2EC4B7F47F49C86218E71BE72FB
      X-Msedge-Clientid:
      - 373D0CA064226DF8015E03DF65226CCC
      X-Msapi-Userstate:
      - '4861'
      X-Search-Responseinfo:
      - InternalResponseTime=282,MSDatacenter=DUB02
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"_type": "ResponseInstrumentation"},
        "readLink": "images\/search?q=evening broken clouds denver, co", "webSearchUrl":
        "https:\/\/www.bing.com\/images\/search?q=evening broken clouds denver, co&FORM=OIIARP",
        "queryContext": {"originalQuery": "evening broken clouds denver, co", "alterationDisplayQuery":
        "evening broken clouds denver, co", "alterationOverrideQuery": "+evening broken
        clouds denver, co", "alterationMethod": "AM_JustChangeIt", "alterationType":
        "CombinedAlterationsChained"}, "totalEstimatedMatches": 100, "nextOffset":
        1, "currentOffset": 0, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=evening+broken+clouds+denver%2c+co&id=C6BA625B8C4C4495378980472773465353527B14&simid=607995295902992532",
        "name": "really loved the sunsets every evening we were in Denver ...", "thumbnailUrl":
        "https:\/\/tse2.mm.bing.net\/th?id=OIP.Jc3ec56f-n58dz6LKt8vuQHaFj&pid=Api",
        "datePublished": "2020-04-02T19:22:00.0000000Z", "isFamilyFriendly": true,
        "contentUrl": "https:\/\/i.pinimg.com\/originals\/ef\/1b\/f6\/ef1bf68b81f4dcc129dce5e105f82ccb.jpg",
        "hostPageUrl": "https:\/\/www.pinterest.com\/pin\/480477853973838871\/", "contentSize":
        "1561789 B", "encodingFormat": "jpeg", "hostPageDisplayUrl": "https:\/\/www.pinterest.com\/pin\/480477853973838871",
        "width": 4608, "height": 3456, "thumbnail": {"width": 474, "height": 355},
        "imageInsightsToken": "ccid_Jc3ec56f*cp_0388F0AF22387A4BC736BB9257566107*mid_C6BA625B8C4C4495378980472773465353527B14*simid_607995295902992532*thid_OIP.Jc3ec56f-n58dz6LKt8vuQHaFj",
        "insightsMetadata": {"pagesIncludingCount": 1, "availableSizesCount": 1},
        "imageId": "C6BA625B8C4C4495378980472773465353527B14", "accentColor": "C25109"}],
        "pivotSuggestions": [{"pivot": "evening", "suggestions": []}, {"pivot": "broken",
        "suggestions": []}, {"pivot": "clouds", "suggestions": []}, {"pivot": "denver,",
        "suggestions": []}, {"pivot": "co", "suggestions": []}], "relatedSearches":
        [{"text": "Brown Clouds", "displayText": "Brown Clouds", "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=Brown+Clouds&FORM=IRPATC",
        "searchLink": "https:\/\/api.bing.microsoft.com\/api\/v7\/images\/search?q=Brown+Clouds",
        "thumbnail": {"thumbnailUrl": "https:\/\/tse1.mm.bing.net\/th?q=Brown+Clouds&pid=Api&mkt=en-GB&adlt=moderate&t=1"}},
        {"text": "Denver Smog", "displayText": "Denver Smog", "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=Denver+Smog&FORM=IRPATC",
        "searchLink": "https:\/\/api.bing.microsoft.com\/api\/v7\/images\/search?q=Denver+Smog",
        "thumbnail": {"thumbnailUrl": "https:\/\/tse1.m[...]
